body{
	padding: 0;
	margin: 0;
}

.chat-header{
	padding: 0;
	margin: 0;
	height: 5vh;
}

.chat{
	background: #e7e7e7;
	height: 75vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.form{
	height: 5vh;
}

.form *{
	padding: 0;
	margin: 0;
	height: 5vh;
}

.message-input{
	width: 80%;
	border: none;
	font-size: 16px;
}
.message-button{
	width: 20%;
	border: none;
}
.message{
	width: 100%;
	margin: 1% 1%;
}
